@import "./block/general";
a{
    text-decoration: none;
}
.main{
    background-color: #fff;
}
.join{
    height: 900px;
    width: 1120px;
    
    .title{
        text-align: center;
    font-size: 48px;
    }
    .wrapper{
        display: flex;
        justify-content: space-around;
        padding-top: 0px;
        .text_wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
text-align: center;
&::before{
    content: "";
    width: 240px;
    height: 350px;
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    background-position: center center;

}
.join__title{
    font-size: 24px;
}
.join__text{
    width: 290px;
}
}
.motobike{
    &::before{
        background-image: url(../img/motosikl.png);
    }
}
.humans{
    &::before{
        background-image: url(../img/human.png);
    }
}
}
}
.bigtitle{
    text-align: center;
    font-size: 48px;
}
.options{
    width: 950px;
    height: 700px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
   
    .titls{
        color:#000;
        width: 180px;
    height: 280px;
    font-size: 40px;
}
.option{
    background-color: #F2F5F9;
    padding: 10px;
    width: 550px;
    margin-top: 10px;
    &:hover{
        background-color: #FFF4DF;
  }
    .option__title{
        width: 500px;
        display: inline-block;
    }
    .option__text{
        width: 450px;
    }
    .option__btn{
        background-color: transparent;
        border: none;
        transform: rotate(180deg);
    }
    .but{
        transform: rotate(360deg);
    }
}
}
.info{
    .apply__wrapper{
        padding: 80px 0;
    .apply{
        width: 700px;
        height: 130px;
        display: flex;
        justify-content: space-between;
        padding: 0 100px;
        align-items: center;
        background-color: #F2F5F9;
        margin-top: 30px;
        .apply__btn{
            background-color: #FCB72B;
            width: 150px;
            height: 35px;
            text-align: center;
            padding-top: 15px;
            color: #fff;
            &:hover{
                background-color: transparent;
                outline: 3px solid #FCB72B;
                color: #FCB72B;
            }
        }
    }
}
}
.listed{
    width: 1120px;
    height: 900px;
    background-image: url(../img/map.png);
    position:relative;
    background-repeat: no-repeat;
    background-position:center 100px;
    background-color: #fff;
    
    .text__wrapper{
        display: flex;
        align-items: center;
        width: 1120px;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        .listed__title{
            width: 200px;
            font-size: 48px;
            
        }
        .listed__text{
            width: 300px;
        }
        .listed__btn{
            background-color:#FCB72B;
            width: 100px;
            color: #fff;
            height: 30px;
            text-align: center;
            padding-top: 10px;
            &:hover{
                border: 3px solid #FCB72B;
                background-color: transparent;
                height: 24px;
                color: #FCB72B;
                width: 96px;
            }
        }
    }

}
.simple{
    
    height: 650px;
    width: 1120px;
    position: relative;
    top: 10px;
    background-image: url(../img/header-bg.jpg);
    background-size: 1120px 650px;
    background-position-y: 50px;
    background-repeat: no-repeat;
    .titls{
        visibility: hidden;
        position: absolute;
    }
    .simple__title{
        position: absolute;
        height: 112px;
        width: 600px;
        left: 165px;
        top: 159px;
        font-size: 56px;    
        color:#fff;
        font-family:'Space Mono', sans-serif;
        .titls{
            visibility: hidden;
        }
        &::before{
            content: "";
            width: 200px;
            height: 100px;
            position: absolute;
            left: -140px;
            top: 200px;
            background-image: url(../img/left-arrow.svg);
        }
        &::after{
            content: "";
            width: 500px;
            background-repeat: no-repeat;
            height: 200px;
            right: -320px;
            position: absolute;
            top: 200px;
            background-image: url(../img/Group8Copy.svg);
        }
    }
    .simple__text{
        position: absolute;
        height: 100px;
        width: 295px;
        left: 260px;
        top: 361px;
        color: #fff;
        
    }
    .simple__btn{
        background-color:  #FCB72B;
        height: 25px;
        padding: 20px 0;
        width: 180px;
        text-align: center;
        position: absolute;
        color: #fff;
        top: 470px;
        left: 260px;
        font-size: 15px;
        text-decoration: none;
        &:hover{
            background-color: transparent;
            color: #FCB72B;
            box-shadow:inset 3px 3px #FCB72B ,3px 3px #FCB72B;
        }
    }
    
}
.servis{
    bottom: 8px;
    width: 1120px;
    height: 500px;
    position: relative;
    .line{
        height: 1px;
        position: absolute;
        width: 674px;
        top: 160px;
        border: 15px solid #E5ECF4;
        background-color: #E5ECF4;
        &::before{
            content: "";
            position: absolute;
            top: -45px;
            width: 96px;
            height: 96px;
            left: 100px;
            background-repeat: no-repeat;
            background-image: url(../img/mobil.svg);
        }
        &::after{
            content: "";
            position: absolute;
            width: 96px;
            height: 96px;
            right:-30px;
            top: -45px;
            background-repeat: no-repeat;
            background-image: url(../img/scuterhumn.svg);
        }
        .scuter{
            position: absolute;
            top: -45px;
            left: 340px;
        }
    }
    .servise__item__wrapper{
        position: relative;
        width: 705px;
        top: 250px;
        padding: 0 130px;
        justify-content: space-between;
        display: flex;
        .servis__item__text{
            width: 225px;
            margin-right: 20px;
        }
    }
    
}

.info{
    width: 1080px;
    height: 1650px;
    margin-bottom: 100px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    .info_img{
        position: relative;
        right: 100px;
        z-index: -1;
    }
    
    .text__wrapper{
        .money{
        margin-right: 110px;
    }
    width: 445px;
    display: flex;
    justify-content: space-around;
    align-items: center;

img{
    position: relative;
right: 40px;
&:nth-child(even){
    left: 40px;
}
}

.text__wrapper__wrapper{
            margin: 110px;
            position: relative;
            &:nth-child(3){
                margin-right: 50px;
            }
        }
        &:nth-child(2){
            flex-direction: row-reverse;
            display: flex;
            
        }
        .info__title{
            width: 500px;
            font-size: 48px;
            font-family:'Space Mono', sans-serif;
        }
        .info__text{
            width: 300px;
            font-size: 15px;
            &::after{
                    content: "";
                    width: 670px;
                    height: 200px;
                    top: 250px;
                    left: 450px;
                    background-image: url(../img/r-arrow.svg);
                    position: absolute;
                background-repeat: no-repeat;
                z-index: 20;
            }
            
        }
        .info__btn{
            background-color: #FCB72B;
            padding:10px;
            text-align: center;
            text-decoration: none;
            color: #ffffff;
            width: 100px;
            display:inline-block;
            font-family:'Space Mono' sans-serif;
            &:hover{
                background-color: transparent;
                color: #FCB72B;
                box-shadow:inset 3px 3px #FCB72B , 3px 3px #FCB72B;
            }
        }
        .money{
            border-radius: 50%;
        }
    }
}
@media only screen and (max-width: 768px) {
    .simple{
        height: 650px;
        width: 700px;
        
        .simple__text{
            position: relative;
            left: 150px;
        }
    }
    .servis{
        height: 470px;
        width: 573px;
        
        
        .line{
            
            height: 512px;
            position: absolute;
            width: 1px;
            top: -42px;
            left:  140px;
            border: 15px solid #E5ECF4;
            background-color: #E5ECF4;
            &::before{
                content: "";
                position: absolute;
                top: 75px;
                width: 96px;
                height: 96px;
                left: -45px;
                background-repeat: no-repeat;
                background-image: url(../img/mobil.svg);
            }
            &::after{
                content: "";
                position: absolute;
                width: 96px;
                height: 96px;
                right:-45px;
                top: 480px;
                background-repeat: no-repeat;
                background-image: url(../img/scuterhumn.svg);
            }
            .scuter{
                position: absolute;
                top: 280px;
                left: -45px;
            }
        }
        .servise__item__wrapper{
            position: relative;
            width: 705px;
            top: 60px;
            left:    100px;
            flex-direction: column;
            display: flex;
            &:nth-child(2){
                margin-top: 60px;
            }
            h3{
                position: relative;
                top: 40px;
                font-family:'Space Mono', sans-serif;
            }
            .servis__item__text{
                width: 325px;
                margin-top: 60px;
            }
        }
        
    }
    
    .info{
        text-align: center;
        width: 768px;
        height: 1650px;
        flex-direction: column;
        display: flex;
        align-items: center;
        
        padding: 20px;
        .text__wrapper{
            width: 275px;
            display: flex;
            padding-right: 20px;
            flex-direction: column;
            position: relative;
            top: 150px;
            .info__title{
                position: relative;
                left: 30px;
            }
            .info__text{
                width: 350px;
                
            }
            &:nth-child(2){
                flex-direction: column;
            }
        }
    }
}


@media only screen and (max-width: 375px){
    .simple{
        height: 650px;
        width: 375px;
        background-position: center center;
        background-size:375px 650px;
        object-fit: cover;
        background-image: url(../img/mobil-bg.jpg);
        .simple__title{
            position: absolute;
            left: 30px;
            font-size: 40px;
            width: 300px;
                    
            .simple__text{
                position: absolute;
                left: 40px;
            top: 292px;
            width: 300px;
        }
        .simple__btn{
            left: 100px;
        }
    }
    .servis{
        text-align: center;
        height: 470px;
        width: 573px;
        top: -100px;
        left: -200px;
        position: relative;
        h3{
            position: absolute;
            left: -190px;
            margin-top: 100px;
            &::before{
                content: "";
                width: 100px;
                height: 100px;
                background-repeat: no-repeat;
                top: -110px;
                background-image: url(../img/mobil.svg);
                position: absolute;
            }
        }
        .ride{
            &::before{
                background-image: url(../img/scuter.svg);
            }
            
        }
        .pick{
            &::before{
                background-image:url(../img/scuterhumn.svg) ;
            }
        }
        .line{
            display: none;
            &::before{
                content: "";
                position: absolute;
                top: 75px;
                width: 96px;
                height: 96px;
                left: -45px;
                background-repeat: no-repeat;
                background-image: url(../img/mobil.svg);
            }
            &::after{
                content: "";
                position: absolute;
                width: 96px;
                height: 96px;
                right:-45px;
                top: 480px;
                background-repeat: no-repeat;
                background-image: url(../img/scuterhumn.svg);
            }
            .scuter{
                position: absolute;
                top: 280px;
                left: -45px;
            }
        }
        .servise__item__wrapper{
            position: relative;
            width: 705px;
            top: 160px;
            left:    100px;
            flex-direction: column;
            display: flex;
            h3{
                position: relative;
                top: 40px;
            }
            .servis__item__text{
                width: 325px;
                margin-top: 60px;
            }
        }
        
    }
    
    .info{
        text-align: center;
        width: 768px;
        height: 1650px;
        flex-direction: column;
        display: flex;
        align-items: center;
        left: -200px;
        position: relative;
        padding: 20px;
        top: 120px;
        .text__wrapper{
            width: 275px;
            display: flex;
            padding-right: 20px;
            flex-direction: column;
            position: relative;
            top: 150px;
            .info__title{
                position: relative;
                left: 30px;
            }
            img{
                width: 315px;
            }
            .info__text{
                position: relative;
                width: 350px;
                left: 20px;
            }
            .info__btn{
                left: 15px;
                position: relative;
            }
            &:nth-child(2){
                flex-direction: column;
            }
        }
        
    }
    
    
    
}