.container{
    margin: 0 auto;
    height: 3648px;
    width: 1120px;
    box-sizing: border-box;
}
.body{
    margin: 0;
    padding: 0;
 h1,h2,h3, a{
        font-family:'Space Mono' sans-serif;
    }
    p{
      font-family: 'Lexend Deca' sans-serif;
      font-size: 15px;
      color: #939CAA;
    }
}

@media only screen and (max-width: 768px) {
    .container{
  height: 4662px;
width: 768px;
margin: 0 auto;

    }
}
@media only screen and (max-width: 375px){
  .container{
    width: 375px;
    margin: 0 auto;
  }
}