.scoot{
    margin-top: 650px;
}
.foot{
    margin-top: 850px;
}
.footer{
    .sign{
        height: 300px;
width: 1120px;
background-image: url(../../img/footer-bg.png);
background-repeat: no-repeat;
background-size: 1120px 300px;
max-width: 1120px;
display: flex;
align-items: center;
justify-content: space-around;
.wrapper{
    width: 370px;
    display: flex;
    justify-content: space-between;
}
h2{
    font-size: 48px;
    width: 300px;
    color: #fff;
}

    }
    }
    
    .footer__menu__wrapper{
        background-color: #333A44;
        height: 95px;
        display: flex;
        padding: 0 100px;
        justify-content: space-between;
        align-items: center;
        .footer__menu{
            display: flex;
            margin-left: -440px;
            list-style-type: none;
            .footer__menu__link{
                text-decoration: none;
                font-size: 20px;
                margin-right: 25px;
                color: #939CAA;
                &:hover{
                    color: #FCB72B;
                   
                }
            }
        }
        .icon{
            padding-right: 20px;
            svg path:hover{
                fill:  #E5ECF4;
                
            }
        }
    }
    
    @media only screen and (max-width: 768px){
        .footer{
            margin-top: 1500px;
            height: 396px;
width: 700px;
.sign{
height: 346px;
width: 700px;
display: flex;
flex-direction: column;
text-align: center;
}
.footer__menu{
    position: relative;
    left: 210px;
}
  }
    
    
    }

    @media only screen and (max-width: 375px){
        .footer{
            margin-top: 1100px;
            width: 375px;
            height: 396px;

.sign{
height: 346px;
width: 375px;
display: flex;
flex-direction: column;
text-align: center;
.wrapper{
    width: 300px;
    align-items: center;
    display: flex;
    position: relative;
    padding-left:1px;
    justify-content: space-around;

.market{
margin-right: 10px;
}

}
}
.footer__menu{
    position: relative;
    bottom: 40px;
    flex-direction: column;
    li{
        margin-top: 10px;
    }
}
.footer__menu__wrapper{
    height: 438px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
.footer__logo{
    position: relative;
    top: 60px;
    left: -15px;
}
    .img__wrapper{
        position: relative;
        bottom: 100px;
    }
}
  }
    
    
    

    }